footer {
  background-color: var(--cor-contraste);
  color: white;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

footer p {
    text-align: center;
    font-size: .95rem;
}

.logo-footer {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.margin-footer {
  margin-bottom: 20px;
}