@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  height: 80px;
  margin: 0 auto;
  display: flex;
  padding: 0px 90px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-contraste);
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;

}

.logo img {
  width: 60px;
}

.logo p {
    font-family:'Times New Roman', Times, serif; 
    font-size: 1.7rem;
    color: white;
}

.header-menu {
  display: flex;
  flex-wrap: wrap; /* caso a vierport diminua, os links irão ficar um abaixo do outro */
  gap: 5px;
}

.header-menu a {
  font-size: 0.85rem;
  line-height: 1.25;
  padding: 10px 12px;
  color: white;
  display: block;
  text-decoration: none;
}

.header-menu a:hover{
  text-decoration: underline;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .header-menu a {
        background-color: rgba(250, 235, 215, 0.651);
        border-radius: 4px;
        padding: 8px 16px;
    }
}

