.introduction {
    max-width: 1000px;
    padding: 0px 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    place-items: center;
    height: 600px;
}

.introduction-text h1 {
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 30px;
    position: relative;
}

.introduction img {
    border-radius: 20%;
}

.contato {
    padding: 15px 30px;
    background-color: var(--cor-contraste);
    color: white;
    border-radius: 12px;
}

@media (max-width:1000px) {
    .introduction {
        gap: 90px;
    }

    .introduction h1 {
        font-size: 3rem;
    }
}

@media (max-width:800px) {
    .introduction {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .introduction h1 {
        font-size: 2.4rem;
    }

    .introduction h1::before {
        width: 70px;
        height: 8px;
        top: -10px;
        left: 0px;
    }
}

@media (max-width:600px) {
    .introduction {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .introduction img {
        width: 80%;
    }
}

@media (max-width:400px) {
    .introduction {
        padding: 10px;
    }

    .introduction h1 {
        font-size: 2rem;
    }
}