.quem-somos {
    border-bottom: 1px solid rgba(0, 0, 0, 0.623);
    max-width: 1000px;
    padding: 0px 40px;
    margin: 0 auto;
}

.quem-somos h1 {
    padding: 30px 0px;
    text-align: center;
}

.quem-somos h2 {
    padding: 0px 25px;

}

.quem-somos p {
    text-align: justify;
    padding: 0px 25px;
}

.quem-somos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
}

.quem-somos-img img {
    height: 380px;
    border-radius: 15px;
    margin: auto;
}