.seguros { 
    max-width: 1000px;
    padding: 0px 40px;
    margin: 0 auto;
}

.seguros-card {
    display: flex;
}


.seguros-card-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.seguros-card-item h1 {
    text-align: center;
    font-size: 2.25rem;
    padding: 20px 0px;
}

@media (max-width:800px) {

}

@media (max-width:600px) {

}

@media (max-width:400px) {

}