.seguros {
  max-width: 1000px;
  padding: 0px 40px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}

.seguros-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
}

.seguros-card-item {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0px 20px;
  padding: 10px 35px;
  max-width: 190px;
}

.seguros-card-item img {
  max-width: 100%;
  height: 190px;
  object-fit: cover;
}

.seguros-card-item {
  text-align: center;
  transition: transform 0.2s;
}

.seguros-card-item:hover {
  transform: scale(1.05);
}

.seguros h1 {
  padding: 30px 0px;
}

.seguros-card-item h2 {
  margin-top: 10px;
}



@media (max-width: 900px) {
  .seguros-card-item {
    padding: 0px 10px;
  }
}

@media (max-width: 520px) {
  .seguros {
    padding: 0px;
  }
  
  .seguros-card {
    gap: 5px ;
  }

  
}
